.navbar {
  display: flex;
  justify-content: center;
  #logo {
    padding-top: 20px;
    width: 50%;
    height: 50%;
  }
  #mainnav {
    display: flex;
    align-items: flex-end;
    li {
      margin-left: 40px;
      font-size: 1.2em;
      font-family: 'Amiko', sans-serif;
    }
  }
}

.jumbo {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

#flex-row-1 {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  .flex-item {
    margin-left: 40px;
    &:first-child {
      margin-left: 0;
    }
  }

}

#flex-row-2 {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  .flex-item {
    margin-top: 40px;
    margin-left: 40px;
    &:first-child {
      margin-left: 0;
    }
  }
}

#flex-row-3 {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  .flex-item {
    margin-top: 40px;
    margin-left: 40px;
    &:first-child {
      margin-left: 0;
    }
  }
}

#flex-row-4 {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  .flex-item {
    margin-top: 40px;
    margin-left: 40px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.flex-text {
  font-size: 1em;
  font-family: 'Amiko', sans-serif;
  padding: 10px;
  text-align: center;
}

.footer {

  background-color: black;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  p {
    color: white;
    font-size: .8em;
    font-family: 'Amiko', sans-serif;
    padding: 40px;
  }
}

h2 {
  text-align: center;
  font-size: 1.4em;
  font-family: 'Amiko', sans-serif;
  padding: 40px;
}

.about-text {
  display: flex;
  justify-content: space-around;
  margin-left: 20em;
  margin-right: 20em;
  p {
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 1em;
    font-family: 'Amiko', sans-serif;
  }

}
