body {
  position: relative;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    padding: 10px;
    background: #CED3DC;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  #logo {
    padding-top: 20px;
    width: 50%;
    height: 50%;
  }
  #mainnav {
    display: flex;
    align-items: flex-end;
    li {
      margin-left: 40px;
      font-size: 1.2em;
      font-family: 'Amiko', sans-serif;
      @media screen and (max-width: 500px) {
        margin-left: 10px;
        font-size: 0.8em;
        font-family: 'Amiko', sans-serif;
      }
    }
  }
}

.jumbo {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

#flex-row-1 {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  .flex-item {
    margin-left: 40px;
    &:first-child {
      margin-left: 0;
    }
  }

}

#flex-row-2 {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  .flex-item {
    margin-top: 40px;
    margin-left: 40px;
    &:first-child {
      margin-left: 0;
    }
    @media screen and (max-width: 500px) {
      margin-left: 0;
    }
  }
}

.flex-text {
  font-size: 1em;
  font-family: 'Amiko', sans-serif;
  padding: 10px;
  text-align: center;
}

.footer {
  background-color: black;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  p {
    color: white;
    font-size: .8em;
    font-family: 'Amiko', sans-serif;
    padding: 40px;
  }
}

h2 {
  text-align: center;
  font-size: 1.4em;
  font-family: 'Amiko', sans-serif;
  padding: 40px;
}

.about-text {
  display: flex;
  justify-content: space-around;
  margin-left: 20em;
  margin-right: 20em;
  p {
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 1em;
    font-family: 'Amiko', sans-serif;
  }
  @media screen and (max-width: 500px) {
    margin-left: 2em;
    margin-right: 2em;
  }
}

.flex-img {
  &:hover {
    transform: scale(1.1);
    transition: 1s;
  }
}
