#flex-row-1 {
  @include flex-row(flex, center, row wrap);
  .flex-item {
    //margin-left: 40px;
    &:first-child {
      margin-left: 0;
    }
  }

}

#flex-row-2 {
  @include flex-row(flex, center, row wrap);
  .flex-item {
    margin-top: 40px;
    margin-left: 40px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.waves-effect.waves-light.btn {
  display: block;
  margin: 0 auto;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.flex-link {
  display: flex;
  justify-content: center;
}

main {
  flex: 1 0 auto;
}

.card-small {
  height: 50%;
}

a.modal-links {
  text-align: center;
}

.slider {
  @media (min-width: 768px) {
    margin: 0 auto;
    width: 80%;
  }
  @media (min-width: 1400px) {
    margin: 0 auto;
    width: 80%;
  }
}