#flex-row-1 {
  @include flex-row(flex, center, row wrap);
  .flex-item {
    margin-left: 40px;
    &:first-child {
      margin-left: 0;
    }
  }

}

#flex-row-2 {
  @include flex-row(flex, center, row wrap);
  .flex-item {
    margin-top: 40px;
    margin-left: 40px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.flex-img {
  &:hover {
    transform: scale(1.1);
    transition: 1s ease-in-out;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.slider {
  @media (min-width: 768px) {
    margin: 0 auto;
    width: 80%;
  }
  @media (min-width: 1400px) {
    margin: 0 auto;
    width: 80%;
  }
}
