body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.card-small {
  height: 50%;
}

.slider {
  @media (min-width: 768px) {
    margin: 0 auto;
    width: 80%;
  }
  @media (min-width: 1400px) {
    margin: 0 auto;
    width: 80%;
  }
}