nav {
  height: 150px;
  background: none;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;
  ul a {
    color: black;
    font-size: 1.3em;
    font-family: 'Amiko', sans-serif;
  }
  @media screen and (max-width: 500px) {
    background-image: url(../img/logosm.png);
  }
}

.show-on-small-only {
  color: black;
}
