nav {
  height: 150px;
  background: none;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;
  ul a {
    @include text(1.3em, $color: black, $font-family: 'Amiko');
  }
  @media (max-width: 500px) {
    background-image: url(../img/logosm.png);
  }
}

.show-on-small-only {
  color: black;
}

//index header

nav {
  height: 150px;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;
  ul a {
    @include text(1.3em, $color: white, $font-family: 'Amiko');
  }
  @media (max-width: 500px) {
    background-image: url(../img/logosm.png);
  }
}

.show-on-small-only {
  color: black;
}

header {
  background-image: url(../img/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  @media (max-width: 500px) {
    height: 30vh;
  }
}