h2 {
  @include text(1.4em, normal, black, 'Amiko');
  text-align: center;
  @media #{$large-and-up} {
    font-size: 40px;
  }
}

 p {
  @include text(18px, 28px, black, 'Amiko');
  letter-spacing: 1.5px;
   text-align: center;
   @media #{$small-and-down} {
     margin-left: 10px;
     margin-right: 10px;
   }
   @media #{$medium-and-down} {
     font-size: 15px;
   }
   @media #{$large-and-up} {
     font-size: 24px;
   }
}

 .modal p {
   margin-top: 10px;
 }

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  display: table;
  margin: auto;
 }

#aboutSue {
  margin-top: 20px;
}

.grey-text.text-lighten-3 {
  font-size: 18px;
  line-height: 28px;
  font-family: "Amiko", sans-serif;
  letter-spacing: 1.5px;
}

#links {
  li {
    @media screen and (max-width: 400px) {
      margin-left: 10px;
    }
    a:hover {
      color: #ffab40 !important;
    }
  }
}

#header-content p {
  margin-bottom: 100px;
  margin-top: 100px;
}
