h2 {
  @include text(1.4em, normal, black, 'Amiko');
  text-align: center;
  @media screen and (max-width: 500px){
    text-align: left;
    margin-left: 20px;
  }
}

 p {
  @include text(18px, 28px, black, 'Amiko');
  letter-spacing: 1.5px;
   text-align: center;
   @media screen and (max-width: 500px){
     margin-left: 10px;
     text-align: left;
   }
  @media (max-width: 768px) {
    font-size: 15px;
  }
}

 .modal p {
   margin-top: 10px;
 }

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  display: table;
  margin: auto;
 }

#about {
  margin-top: 20px;
}

.grey-text.text-lighten-3 {
  font-size: 18px;
  line-height: 28px;
  font-family: "Amiko";
  letter-spacing: 1.5px;
}